body{
  background-color: lightgray;
}
header {
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: 500px;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-size: 38px;
}
#head{
    margin-left:40px;
}
span{
    font-style: italic;
}
#home{
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
   

}

nav{
    width:100%;
    font-size:18px;
    position:absolute;
    text-align: left;
    
  
}
li{
    list-style: none;
}
nav ul li{
    display:inline-block;
    padding-right:60px;
}
a{
    text-decoration: none;
    color:white;
}

#about{
   
    width: 100%;
    height: 100%;
    border: 50% #111;
    padding: 50px;
    margin-top: 0%;
    background-color: white;
    background-size: cover;
    
}

#abou{
    background-image: url(about.jpeg);
    height: 12.85em;
    
}
.aboutme{
    margin:50px 100px 0 80px;     
}
.aboutme img{
    float:left;
    width:30%;
    border-radius:5px;
    margin-right:25px;
}
/*navbar*/
.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  }
  
  .navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
  }
  
  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }
  
  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #1B1B1B;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before,
  .navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before,
  .navbar-b.navbar-reduce .show > .nav-link:before,
  .navbar-b.navbar-reduce .active > .nav-link:before,
  .navbar-b.navbar-reduce .nav-link.show:before,
  .navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    background-color: #fff;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: #fff;
  }
  
  .navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-b.navbar-reduce .nav-link {
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .nav-link:before {
    background-color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1B1B1B;
  }
  
  .navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #0078ff;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #0078ff;
  }
  
  /*--/ Hamburger Navbar /--*/
  
  .navbar-toggler {
    position: relative;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
  }

#portfolio{
    grid-gap: 5px;
    grid-row-gap: ;
}
#portfolio img{
    width:320px;
    height: 180px;
}
#portfolio section{
    position:relative;
}
.text1,.text2,.text3,.text4,.text5,.text6{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: left;
    display: none;
    font-size:24px;
    z-index: 2;
    padding:5% 20%;
    padding-right: 0;
    font-family: 'Ubuntu', sans-serif;;
}
.mytext{
    position: absolute;
    border: solid 2px white;
    color: white;
    top:5px;
    left:5px;
    font-family: 'Ubuntu', sans-serif;
    margin:20% 20%;
    padding:2%;
}
.mytext:hover{
    background-color: white;
    color:black;
}
.overlay{
    background-color: rgba(0,0,0,0.7);
}

  footer{
    background-color: black;
    color:white;
    padding:10px;
    text-align:center;
    font-size:14px;
    height: 20em;
}
#socialapps img{
  width:40px;
  margin:20px 30px;
}
#socialapps img:hover{
  border-radius: 5px;
  width: 50px;
 
  
}
